bot.py filter=lfs diff=lfs merge=lfs -text
config filter=lfs diff=lfs merge=lfs -text
accounts filter=lfs diff=lfs merge=lfs -text
cq-http filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
logo.jpg filter=lfs diff=lfs merge=lfs -text
pyproject.toml filter=lfs diff=lfs merge=lfs -text
venv filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
